body {
    background-image: url(bilder/city.jpg);
    background-size: cover;
    background-repeat: repeat;
}

p {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 25px;
}

#drøfting {
    background-color: bisque;
    height: 2000px;
    width: 750px;
    position: absolute;
    top: 80px;
    left: 315px;
}

#overskrift {
    font-family: fantasy;
    font-weight: 100;
    text-align: center;
}

h4 {
    margin-left: 20px;
    margin-top: 50px;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    text-transform: uppercase;
}

li a:hover {
    background-color: white;
    color: black;
    opacity: 0.7;
}

.fixed {
    position: fixed;
    right: 450px;
    bottom: 560px;
}

.bar {
    font-size: 25px;
    font-family: fantasy;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
}

li {
    text-align: center;
    display: inline;
}